/* .topnav-search-input {
    width: auto;
} */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: whitesmoke;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
.account-dropdown
{
  position: relative;
  display: inline-block;
} 

.account-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.account-dropdown-content a {
  color: black;
  font-size: 15px;
  padding: 10px 100px;
  text-decoration: none;
  display: block;
}

.account-dropdown-content a:hover {background-color: #ddd;}

.account-dropdown:hover .account-dropdown-content {display: block;}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  column-gap: 1px;
  padding-left: 10%;
}

.select, input[type = 'text'], input[type = 'email'], input[type = 'url'], .description, .comments, .cosummary, input[type = 'password'] {
  width: 75%;
}

.btn-save {
  margin-left: 78%;
  margin-top: -60px;
  /*border: 0.5px solid blueviolet;*/
  color: white;
  font-weight: 600;
  background-color: black;
}

.btn-save:hover {
  color: white;
  background-color: grey;
}

.btn-cancel {
  margin-left: 84%;
  margin-top: -107px;
  /*border: 0.5px solid blueviolet;*/
  color: white;
  font-weight: 600;
}

.data-table 
{
  background-color: white;
}

.data-table td, .account_contact_datatable, .data-table {
  white-space: nowrap;
}
.sidebar-modulelist u {
  list-style:none;
}
.sidebar-list  a
{
  background-color: white;
  font-size: 20px;
  margin-bottom: 10px;
  list-style-type: none;
  border: none;
  border-radius: 5px;
}

.sidebar-list  a:hover
{
  background-color: white;
}

.sidebar-list  a:active
{
  background-color: white;
}

.sidebar-list  a:enabled
{
  background-color: white;
}

li {
  list-style: none;
}

.dropdown-toggle-split {
  margin-bottom: 10px;
  background-color: #818181;
  border: none;
}

.dropdown-menu {
  height: 50px;
}

.sidebar-module {
  width: 200px;
}

.dropdown-menu a{
  height: 1px;
  padding: 1px;
  padding-left: 50px;
  width: 50px;
  display: block;
  
}

input[type = 'checkbox'] {
  zoom: 1.5;
  padding-left: 100px;
  /* margin-left: 0px; */
}

body {
  background-color: white;
}

/* .arrow {
  margin: 1em;
}

.arrow::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: .5em solid transparent;
  border-left-color: gray;
  transform-origin: 0 50%;
  transition: transform .25s;
}

.arrow.down::before {
  transform: rotate(90deg);
  transition: transform .25s;
} */

.collapsible {
  background-color: #777;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 20px;
}



.collapsible:after {
  content: '\1433';
  color: black;
  font-weight: lighter;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}

.active:after {
  content: "\142F";
  color: black;
  font-weight: lighter;
  margin-right: 10px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  width: 95%;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.panel-head, .panel-body {
  background-color: white;
}

.panel {
  border: 1px solid rgb(0 0 0 / 13%);
  border-radius: 15px;
  width: 90%;
  margin-left: 40px;
  box-shadow: 0 0 7px rgb(0 0 0 / 13%);
}

.panel-body {
  margin-left: 20px;
}

.data-table tr:hover {
  background-color: whitesmoke;
}

.data-table thead tr:hover {
  background-color: white;
}

.mass-action-drop {
  background-color: white;
  height: 30px;
}

/* a > i.edit-pencil {
  display: block;
} */

/* a > i.edit-pencil{
  display: inline-block;
} */
/* td:nth-child(2) > a {
  display: none;
}

td:nth-child(2) > a:hover {
  display: block;
}

tbody td:nth-child(2):hover {
  margin-top: 10px;
  content: "\F4CB";
  display: inline-block;
} 
 a.edit-pencil {
  display: inline-block;
}

.edit-pencil:hover {
  display: block;
} */

.delete-btn {
  background: none; 
  border: none;
  color: #3490dc;
}

.delete-btn:hover {
  color: #818181;
}

div.edit-and-delete > a
{
  display: inline-block;
}

div.edit-and-delete > form
{
  padding-left: 10px;
  display: inline-block;
}

label
{
  vertical-align: middle;
}


input
{
  vertical-align: middle;
}

.mass-update-pencil, .mass-delete-btn
{
  background: none; 
  border: none;
  color: #3490dc;
}

.mass-update-btn, .mass-delete-btn
{
  background: none;
  border: none;
}

.mass-update-btn:hover , .mass-delete-btn:hover
{
  background: whitesmoke;
  border-radius: 5px;
}
.mass-update-pencil:hover, .mass-delete-btn:hover
{
   
  border: none;
  color: black;
}

/* .mass-update
{
  display: none;
} */
